<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
        <h1>GPIO Test</h1>
        <div class="buttons">
            <div id="blinkon" class="button">BLINK</div>
            <div id="blinkoff" class="button" style="display:none;">STOP BLINK</div>
            <div id="toggle" class="button">TOGGLE</div>
            <div id="push" class="button">PUSH</div>
            <div id="buttonval">HARDWARE PRESS</div>
        </div>
        <div class="diagram">
            <img src="/static/apps/gpio_test/media/wiring_diagram.jpg" />
        </div>
        <div class="clear"></div>
        <div id="output">
            
        </div>        
    </div>
</body>
</html>