<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <canvas id="animation"></canvas>
    <div class="pagecontent">
        <h1>Hello Coder</h1>
        <p>Get started with Coder by exploring this app.</p>
        <p>Click the edit button "&lt;/&gt;" to dive in.</p>
        <p>It's at the top right.</p>
    </div>
</body>
</html>


<!--

Hello Coder!

If this is your first time here, you're now looking at the
inside of a program. In here, in the source code, is where
you can make anything you can imagine.

Every app that you install on Coder has different code behind
it. You can use that code to learn how the app's author made
it. You can change the code to make the app work a little 
differently. You can even copy the code and use it in your 
own programs.

PREVIEW WINDOW
  To see what your program looks like while you are coding, 
  click on that eyeball icon at the top right.

MAKING THINGS IN CODER
  Coder apps are written in the primary languages of the web.
  There are just a handful of pieces to every Coder program, and
  you can access them using the tabs at the top of the editor.
  
  Right now you're in the HTML code.
  
  HTML is a language that describes the structure and content of
  a web application. See that <h1>Hello Coder</h1> way up there?
  Change it to <h1>Awesome</h1>, save and see what happens in the
  preview window.

  <h1> is a tag for a heading. It starts with <h1> and ends with
  </h1> and in between is the text of your heading.
  
  <p> is a tag that means a paragraph of text. It starts with a <p>
  and ends with </p> and in between are your words. There are three
  paragraph tags in this document, but you can change them! Why
  don't you put your name in the first one, and write a poem for
  the second?

  When you are happy with your work, check out the CSS and JS tabs.
  That's where you can change how things look and how the app works.

-->




