<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">


<service-group>
  <name replace-wildcards="yes">Coder Server at %h.local</name>

  <service>
    <type>_http._tcp</type>
    <port>80</port>
  </service>
</service-group>
