<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <!-- Standard Coder Includes -->
    <script>
        var appname = "{{app_name}}"; //app name (id) of this app
        var appurl = "{{&app_url}}";
        var staticurl = "{{&static_url}}"; //base path to your static files /static/apps/yourapp
    </script>
    <link href="/static/apps/coderlib/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/static/common/js/jquery.min.js"></script>
    <script src="/static/common/ace-min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/apps/coderlib/js/index.js"></script>
    <script>
        Coder.addBasicNav();
    </script>
    <!-- End Coder Includes -->

    <!-- This app's includes -->
    <link href="{{&static_url}}/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="{{&static_url}}/js/index.js"></script>
    <!-- End apps includes -->
</head>
<body class="">
    <div class="pagecontent">
        <div id="colorcontrol_top">
            <div id="centercontainer">
                <div id="redcontrol" class="vertslidercontrol">
                    <div class="sliderbg animation-slide"></div>
                    <div class="slidergroove"></div>
                    <div class="slider animation-slide"></div>
                    <div class="label redtxt"></div>
                </div>
                <div id="greencontrol" class="vertslidercontrol">
                    <div class="sliderbg animation-slide"></div>
                    <div class="slidergroove"></div>
                    <div class="slider animation-slide"></div>
                    <div class="label greentxt"></div>
                </div>
                <div id="bluecontrol" class="vertslidercontrol">
                    <div class="sliderbg animation-slide"></div>
                    <div class="slidergroove"></div>
                    <div class="slider animation-slide"></div>
                    <div class="label bluetxt"></div>
                </div>
            </div>
        </div>
        <div id="colorcontrol_bottom">
                <div id="compositecolor">
                    <div class="swatch animation-slide"></div>
                    <div class="label">#<span class="redtxt"></span><span class="greentxt"></span><span class="bluetxt"></span></div>
                </div>
        </div>
    </div>
</body> 
</html>