<!DOCTYPE html>
<html>
<head> 
    <title>Coder</title>
    <meta charset="utf-8">
    <link href="/assets/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/index.js"></script>
</head>
<body class="">
    <div id="coder_nav" class="">
        <span id="coder_logo">Coder</span>
    </div>
    <div id="coder_list">
        <h2>Coders On Your Network</h2>
        <div class="refresh">Refresh</div>
    </div>
    <div id="fallback">
        <h2>Don't See Your Coder?</h2>
        <div class="info">Automatic device detection may not work with your network configuration. If that's the case, try this instead.</div>
        <div class="device" data-url="http://coder.local/"><div class="shadow"></div><div class="bg"></div><div class="name">coder.local</div></div>
        <div class="help"><a href="#">Help! I can't connect to my Coder.</a></div>
    </div>
    <div id="coderitem_template" style="display:none;" class="device" data-url="http://coder.local/"><div class="shadow"></div><div class="bg"></div><div class="name">Name</div></div>
</body>
</html>
